h2 {
   font-size: 30px;
   line-height: 0px;
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
   font-family: 'Averia Serif Libre', cursive;
   color: #646161;
 }
 
 ul,h3 {
   /* font-family: "Montserrat", sans-serif; */
   font-weight: 100;
   font-family: 'Averia Serif Libre', cursive;
   
 }

 .header-title {
   margin: ;
 }

 panel heading {
   font-size: 40px;
   line-height: 0px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   
 }

 panel {
   text-align: left;
 }

 .searchedNum {
   color: black;
 }

 .section {
  margin: 20px auto;
  text-align: center;
}

 li {
   list-style-type: none;
 }

 img {
   vertical-align: sub;
   margin-right: 20px;
 }

 .logo {
  width: 55vw;
 }

 .whoIs, .thisIs {
   width: 100px;
 }

 #whoisLogo {
   margin: 4px 8px 0 0;
 }

 .panel-heading h2 {
   margin: 0;
 }

 Footer section {
   position: relative;
 }

 .footer-section {
  position: absolute;
  margin-left: 2%;
}

.relation {
   color: #646161;
}

form {
  display: inline-flex;
  margin: 0 auto;
  width: 100%;
}

button {
  margin-left: 9px;
}

.searchArea {
  margin-bottom: 65px;
}

small {
  margin-left: 33%;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
  
  .logo {
    width: 500px;
   }

  }

/* Medium devices (desktops, 768px and up) */
@media screen and (max-width: 768px) {
  
    .logo {
      width: 450px;
     }
  
  }

/* Small devices (tablets, 640px and up) */
@media screen and (max-width: 640px) {
 
  .logo {
    width: 350px;
   }

}
